<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.brostudios.yourburger"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="preferExternal">
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>
      
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDmMCsL53m18Cc_GJCznw4uLgOQI6GsPK8"/>
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name="ru.brostudios.yourburger.BurgerActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden">
            
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
        </activity>
        <activity android:name="ru.brostudios.yourburger.screens.QuestionsScreen"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden">
		</activity>
        
        
        
    </application>
    
</manifest>
